EIA_API_KEY=
MONGO_URI=mongodb://admin:admin123@mongo:27017/
MONGO_DB=energy_gas_risk
SPLASH_URL=http://splash:8050

SPACES_KEY=
SPACES_SECRET=
SPACES_BUCKET=gas-risk
SPACES_REGION=sfo3
SPACES_ENDPOINT=

TO_ADDRESSES=
FROM_ADDRESS=

AWS_SES_REGION_NAME=us-east-1
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
